body {
  padding: 5px;
  margin: 5px;
  font-family: 'Proxima Nova', Neue Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f5f7fa;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
#ticker-button, #message-button {
  margin-bottom: 10px;
}
.root, .root2 {
  margin-bottom: 10px;
}
.ticker-time {
  color: darkgrey;
  font-style: italic;
  font-size: 12px;
}
